@import '../../assets/styles/variables.scss';

.Container {
  border-bottom: 1px solid $color-dark-grey-alt;
  padding: 5px;
}

.Meta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;

  &:hover {
    cursor: pointer;
  }
}

.Author {
  font-size: 1.1rem;
}

.Divider {
  color: $color-dark-grey-alt;
}

.Secondary {
  color: $color-dark-grey;
}

.JournalLink {
  &:hover {
    cursor: pointer;
  }
}

.Title {
  font-weight: 700;
  margin: 15px 0;
}

.Preview {
  width: 100%;
  word-wrap: break-word;
}

.ReadTime {
  @extend .Secondary;

  &:hover {
    cursor: pointer;
  }
}

.Actions {
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
}

.Like {
  transition: color .1s;

  &:hover {
    color: $label-green;
    cursor: pointer;
  }
}