@import '../assets/styles/variables.scss';

.UserMeta {
  padding: 20px 0;
}

.Details {
  display: flex;
}

.Username {
  font-weight: 500;
  font-size: 2rem;
  margin-right: 20px;
  margin-bottom: 20px;
}

.Date {
  color: $color-dark-grey;
  display: flex;
  align-items: center;
}

.DateText {
  margin-left: 10px;
}

.TabContainer {
  width: 100%;
  display: flex;
}

.Tab {
  padding: 8px;
  margin-right: 10px;

  &:hover {
    cursor: pointer;
    color: $label-blue;
  }
}

.TabSelected {
  @extend .Tab;
  border-bottom: 2px solid $label-blue;
  color: $label-blue;
}