@import '../assets/styles/variables.scss';

.UserMeta {
  padding: 20px 0;
}

.Details {
  display: flex;
}

.Username {
  font-weight: 500;
  font-size: 2rem;
  margin-right: 20px;
  margin-bottom: 20px;
}