@import '../assets/styles/variables.scss';

.TabContainer {
  width: 100%;
  display: flex;
}

.Tab {
  padding: 8px;
  margin-right: 10px;

  &:hover {
    cursor: pointer;
    color: $label-blue;
  }
}

.TabSelected {
  @extend .Tab;
  border-bottom: 2px solid $label-blue;
  color: $label-blue;
}
