@import './assets/styles/variables.scss';

* {
  font-size: 14px;
  font-family: Helvetica, sans-serif;

  &:focus {
    outline: none;
  }

  ::-webkit-scrollbar {
    appearance: none;
    height: 6px;
    width: 8px;
  }
  ::-webkit-scrollbar-thumb {
    background: #c1c1c1;
    border-radius: 4px;
    &:hover {
      background: #999fa2;
    }
  }
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: $color-shy-grey;
  color: #202020;
  overflow-y: auto;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}
