* {
  font-family: Helvetica, sans-serif;

  &:focus {
    outline: none;
  }

  ::-webkit-scrollbar {
    appearance: none;
    height: 6px;
    width: 8px;
  }
  ::-webkit-scrollbar-thumb {
    background: #c1c1c1;
    border-radius: 4px;
    &:hover {
      background: #999fa2;
    }
  }
  ::-webkit-scrollbar-track {
    background: #fafafa;
  }
}

body {
  margin: 0;
  font-size: 10px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #002240;
  overflow-y: auto;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}
