$color-default: #002240;
$color-white: #fff;
$color-black: #000;
$color-dark-grey: #537089;
$color-dark-grey-alt: #999dac;
$color-blue: #0688fa;
$color-disabled: #a8acaf;
$color-shy-grey: #e1daf2;
$color-light-blue: #e9f4fd;
$color-neutral-light: #e1eaf2;
$color-red: #c9604b;
$color-bright-red: #db2828;
$color-active-dark: #2756f1;
$color-sky-blue: #82c4fd;

$bg-color-white: $color-white;
$bg-color-primary: $color-blue;
$bg-color-disabled: #e8e9ea;
$bg-color-error: #efd9d9;
$bg-color-table-header: #eff1f5;
$bg-color-integrations: #f2f3f6;
$bg-color-pane: #f8f8f8;

$label-red: #ad4040;
$label-orange: #ff8533;
$label-yellow: #ffaa04;
$label-green: #389c67;
$label-blue: #3a8dd1;
$label-purple: #5c6ae5;
$label-neutral: #002240;
$label-light-green: #d7ebe1;
$label-light-red: #efd9d9;
$label-light-blue: #d8e8f6;
$label-light-yellow: #ffeecd;
$label-light-purple: #e1e4ff;
$label-light-neutral: #d3d5d7;
$label-light-orange: #ffe4d8;

$box-shadow-card: 0px 4px 4px rgba(0, 0, 0, 0.05);

$border-radius-default: 8px;
